Package: ruby-google-protobuf-dbgsym
Source: protobuf
Version: 3.6.1.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 344
Depends: ruby-google-protobuf (= 3.6.1.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for ruby-google-protobuf
Build-Ids: b20ea59d47f037a175a1a5ab6d1e9eef392ea76d
Ruby-Versions: ruby2.5
