Package: protobuf-compiler-dbgsym
Source: protobuf
Version: 3.6.1.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 76
Depends: protobuf-compiler (= 3.6.1.3-1)
Section: debug
Priority: optional
Description: debug symbols for protobuf-compiler
Build-Ids: a9173e70ca64f6d390c6db5d148aa8a2182b67f0
