Package: python-protobuf-dbgsym
Source: protobuf
Version: 3.6.1.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 744
Depends: python-protobuf (= 3.6.1.3-1)
Section: debug
Priority: optional
Description: debug symbols for python-protobuf
Build-Ids: 001c4bc689ad1bcb4070b21b162afe21a0223634 f457bf986cfc74663275056cbc69c89e6f5582e7
Python-Version: 2.7
